:root {
    --bg-color-secondary: #eeeff1;
    --bg-color-total: #fff;
    --bg-color-btn: #34547a;
    --bg-color-body: #F9F9F9;
    --color-description: #727272;
    --color-title: #000;
    --font-size-text: 16px;
    --font-size-title: 32px;
    --font-size-footer-description: 13px;
    --font-size-footer-title: 21px;
    --font-famale-title: 'Roboto', sans-serif;
    --line-height-description: 1.625;
    --line-height-title: 1.1875;
    --font-wight-title: 500
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-text);
    font-family: var(--font-famale-title);
    line-height: var(--line-height-description);
}

body {
    background-color: var(--bg-color-body);
}

a {
    text-decoration: none;
    color: var(--color-title);
}

.header-nav {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    min-height: 680px;
    background-color: var(--bg-color-secondary);
    padding: 79px 0 141px 0;
}

.header-nav__list {
    list-style-type: none;
    display: flex;
    gap: 43px;
    flex-wrap: wrap;
}

.header-nav__link {
    letter-spacing: 0.1em;
}

.active {
    font-weight: var(--font-wight-title);
    color: var(--bg-color-btn);
}

.container-header {
    max-width: 541px;
}

.header-content__title {
    font-weight: var(--font-wight-title);
    color: var(--color-title);
    margin-top: 144px;
    font-size: 48px;
}

.header-content__description {
    color: var(--color-description);
    max-width: 540px;
}

.header-content__action {
    background-color: var(--bg-color-btn);
    width: 225px;
    margin-top: 60px;
}

.header-content__link {
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: var(--bg-color-total);
    padding: 17px 41px 21px;
    display: flex;
}

.container--main {
    max-width: 540px;
    margin: 107px auto 93px;
}

.main__title {
    font-weight: var(--font-wight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    text-align: center;
    color: var(--color-title);
    margin-bottom: 38px;
}

.main__description {
    line-height: var(--line-height-description);
    text-align: center;
    color: var(--color-description);
}

.container-number {
    max-width: 100vw;
    height: 250px;
    background: var(--bg-color-btn);
    display: flex;
    justify-content: center;
    gap: 49px;
}

.main-number__title {
    font-weight: var(--font-wight-title);
    font-size: var(--font-size-footer-title);
    line-height: var(--line-height-title);
    color: var(--bg-color-total);
    padding-top: 2px;
}

.main-number__description {
    color: var(--bg-color-total);
}

.main-number__item {
    display: flex;
    gap: 20px;
    margin: 100px 0;
}

.main-video {
    background-color: var(--bg-color-secondary);
    padding: 100px 0 92px;
}

.container--video {
    max-width: 540px;
    margin: 0 auto;
}

.main-video__rectangle {
    margin-top: 50px;
    text-align: center;
}

.container--footer {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__title {
    font-weight: var(--font-wight-title);
    font-size: var(--font-size-footer-title);
    line-height: var(--line-height-title);
    color: var(--bg-color-total);
    margin-bottom: 11px;
    padding-top: 50px;
}

.footer__description {
    font-size: var(--font-size-footer-description);
    line-height: var(--line-height-description);
    color: var(--bg-color-total);
}

.footer {
    max-width: 100vw;
    height: 151px;
    background-color: var(--bg-color-btn);
}

iframe {
    border: 0;
    width: 1110px;
    height: 600px;
}